body {
  background-color: #010022;
  padding: 1rem;
}

.main {
  background-color: white;
  border-radius: 0.7rem;
}

section {
  padding: 1rem;
}

.product {
  background-color: rgb(255, 255, 255);
  border:  1px solid #e1e1e1;
  border-radius: 0.5rem;
  position: relative;
}

.basket > img {
width: 2rem;
position: absolute;
top: 4%;
right: 4%;
}

.image > img {
width: 80%;
}

.box_for_img, .box_for_sizes {
  margin: 2rem auto;
  width: 80%;
}

.colors__img {
  display: inline;

}
.colors__img>img {
  width: 32%;
}

.colors_size {
display: inline-block;
padding: 0.7rem 0.5rem;
background-color:white ;
}

.down {
  position: absolute;
  left: 0;
  display: none;
  background-color:rgb(234, 213, 234);
}

.down h6 {
  padding-top: 1.4rem;
}

.product:hover .down {
display: block;
}

.shadow {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.buy {
  visibility: hidden;
  margin: 50% auto;
}

.buy a {
  color: white;
}

.product:hover {
  border-radius: 0.5rem ;
  transform: scale(104%);
  transition: all 0.5s ease-in-out 0s;
  z-index: 1;
}

.product:hover .shadow {
  visibility: visible;
  transition: all 0.5s;
  background-color: rgba(110, 47, 236, 0.2);
 }

.product:hover .buy {
  visibility: visible; 
}

.forms:after {
  content: ' ';
  display: table;
  clear: both;
  margin-bottom: 3rem;
}

footer {
  padding: 2.5rem 0 1rem;
}

.icon {
  height: 45px;
  width: 45px;
  background-image: url(../image/social.png);
}

#facebook {
  background-position: -10px -14px; 
}

#facebook:hover {
  background-position: -10px -70px;
}

#telegram {
  background-position: -66px -14px; 
}

#telegram:hover {
  background-position: -66px -70px; 
}

#instagram {
  background-position: -124px -14px;
}

#instagram:hover {
  background-position: -122px -70px;
}

#linkedin {
  background-position: -181px -14px;
}

#linkedin:hover {
  background-position: -179px -70px;
}

#piterest {
  background-position: -237px -14px;
}

#piterest:hover {
  background-position: -235px -70px;
}

#viber {
  background-position: -405px -14px;
}

#viber:hover {
  background-position: -405px -70px;
}